*{
    box-sizing: border-box;
}
body{
    font-family: arial;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(11, 227, 11);
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
header ul{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}
header a{
    color: #fff;
}
#logo{
    margin: 0 auto;
    font-size: 30px;
}
#menu li{
    padding: 10px;
}
#social-links li{
    padding: 10px;
}
#main{
    display: flex;
}
aside{
    padding: 10px;
    flex: 0 0 20vw;
    background: wheat;
}
aside ul{
    list-style: none;
    padding: 0px;
}
aside ul a{
    color: rgb(11, 227, 11);
    display: block;
    border-bottom: 1px solid palevioletred;
    padding: 10px;
}
aside img{
    width: 100%;
}
article{
    padding: 10px;
}
.services-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;  
}
.service-box{
   border: 1px solid #eee;
   flex-basis: 32%;
   max-width: 370px;
   padding: 10px;
   margin-bottom: 15px;
   display: flex;
   flex-direction: column;
}
.service-box h3{
    margin: 5px 0 10px;
}
.service-box img{
    width: 100%;
}
.call-to-action{
    display: flex;

}
.call-to-action a{
    background-color: rgb(7, 21, 21);
    border: 2px solid transparent;
    color: white;
    padding: 7px;
    display: block;
    margin: 5px;  
}
.call-to-action a:hover{
    background-color: blue;
    border: 2px solid transparent;
}
.call-to-action{
    align-self: flex-start;
    margin-top: auto;   
}
footer{
    background: rgb(11, 227, 11);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
@media  screen and (max-width:850px) {
    .service-box{
        border: 1px solid #eee;
       flex-basis: 48%;
    }
    aside{
       
        flex: 0 0 30vw;
    }
}
@media  screen and (max-width:600px) {
    header{
        flex-direction: column;
    }
    #logo{
        order: -1;
    }
    #main{
       flex-direction: column; 
    }
    article{
        order: -1;
    }
    .services-container{
        flex-direction: column;
        align-items: center;
    }
    h2{
        text-align: center;
    }
}